.btn {
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #97f8e3;
  min-width: 200px;
  border: 2px solid transparent;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
  box-sizing: border-box;
  padding: 12px 24px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn .animation {
  border-radius: 100%;
  animation: ripple 0.6s linear infinite;
}

@keyframes ripple {
  0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
  }

  100% {
      box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
  }
}
